@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";
@import "../../../../styles/utils/variables";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(290);
  min-height: rem(500);
  margin: 0 auto;
  padding: rem(16);
  border-radius: rem(12);
  background-color: #fff;
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.1);
  gap: rem(16);

  h3 {
    margin-bottom: 0;
  }
}
