.button {
  padding: 0.4rem 1rem;
  margin-top: 0.5rem;
  background-color: #e55353;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #c93f3f;
}
