@import "../../styles/utils/functions";
@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.exercises {
  @include flex-column;
  margin-top: rem(120);

  h2 {
    margin-bottom: rem(48);
  }

  &__container {
    @include flex-around;
    align-items: start;
    flex-wrap: wrap;
    gap: rem(16);
    max-width: rem(920);
    padding: rem(8);
  }
}
