@keyframes candleGlow {
  0%,
  100% {
    background-position: center;
    filter: brightness(1) saturate(1);
  }
  50% {
    background-position: center;
    filter: brightness(1.1) saturate(1.2);
  }
}
