@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";

h1,
h2,
h3 {
  text-align: center;
  margin-left: rem(16);
  margin-right: rem(16);
}

h1 {
  @include font-size(64);
}

h2 {
  @include font-size(48);
}

h3 {
  @include font-size(32);
  @include neucha;
  margin-bottom: rem(32);
}

header {
  background-color: $background-light;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  @include wrapper;
  display: flex;
  flex-direction: column;
  color: $text-color;
  width: 100%; // важно!
}

section {
  width: 100%; // обязательно, чтобы секции не сужались
  margin-bottom: rem(80);
}

a {
  @include links;
}

@media (max-width: $breakpoint-md) {
  h1 {
    @include font-size(56);
  }
  h2 {
    @include font-size(40);
  }
  h3 {
    @include font-size(24);
  }
}

@media (max-width: $breakpoint-sm) {
  h1 {
    @include font-size(48);
  }
  h2 {
    @include font-size(32);
  }
  h3 {
    @include font-size(16);
  }
}
