@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
@import "../../styles/utils/functions";

.website-layout {
  &__swiper {
    margin: 0 auto;
    @include flex-between;
    max-width: calc(100% - (300 * rem(1)));

    &--slide {
      position: relative;
      top: 0;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: 15px;
      }

      &__message {
        @include font-size($font-size-large);
        padding: rem(16);
        line-height: 1;
        a {
          color: $secondary-color;
          text-decoration: underline;
        }
        a:hover {
          color: $primary-color;
        }
      }

      &__link {
        position: absolute;
        bottom: 5%;
        left: 10%;
        padding: rem(6) rem(12);
        background-color: $secondary-color;
        color: $text-light;
        text-decoration: none;
        border-radius: rem(4);
        font-weight: 600;
        transition: background-color 0.3s ease;
      }

      &__link:hover {
        color: $text-color;
        background-color: $primary-color;
      }
    }
  }

  &__button-prev {
    rotate: 180deg;
  }

  &__button-prev,
  &__button-next {
    @include font-size($font-size-xl);
    cursor: pointer;
    color: $text-light;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 rem(10);
    flex-shrink: 0;
    background-color: $secondary-color;
    border: none;
  }

  &__button-prev:hover,
  &__button-next:hover {
    color: $text-color;
    background-color: $primary-color;
  }

  &__button-prev:active,
  &__button-next:active {
    background-color: $secondary-color;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(20);

    .swiper-pagination-bullet {
      width: rem(16);
      height: rem(16);
      background: #999;
      margin: 0 6px;
      transition: all 0.3s ease;

      &-active {
        background: $secondary-color;
      }
    }
  }
}
