@use "../../styles/utils/functions";
@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.jsInPractice {
  .article {
    @include flex-column;
    @include font-size($font-size-xl);
    gap: rem(16);
  }

  &__description {
    @include font-size($font-size-large);
    text-align: center;
  }

  &__container {
    @include flex-around;

    &Columns {
      @include flex-column;
      gap: rem(16);

      &__card {
        background-color: $background-card;
        border-radius: rem(8);
        padding: rem(16);

        @media (max-width: $breakpoint-md) {
          @include font-size($font-size-base);
          max-width: rem(220);
        }
      }
    }

    @media (max-width: $breakpoint-md) {
      @include flex-column;
      gap: rem(8);
    }
  }
}
