@use "../../styles/utils/functions";
@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.js-in-practice {
  .article {
    @include flex-column;
    @include font-size($font-size-xl);
    gap: rem(16);
  }

  &__description {
    @include font-size($font-size-large);
    text-align: center;
  }

  &__container {
    @include flex-around;

    &--columns {
      @include flex-column;
      gap: rem(16);

      &__card {
        background-color: $background-card;
        border-radius: rem(8);
        padding: rem(16);

        &--btn {
          background-color: $secondary-color;
          color: $text-light;
          padding: rem(6) rem(12);
          border: none;
          border-radius: rem(8);
          cursor: pointer;
          font-weight: 600;
          transition: background-color 0.3s ease;
        }

        &--btn:hover {
          color: $text-color;
          background-color: $primary-color;
        }

        @media (max-width: $breakpoint-md) {
          @include font-size($font-size-base);
          max-width: rem(220);
        }
      }
    }

    @media (max-width: $breakpoint-md) {
      @include flex-column;
    }
  }
}
