@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
@import "../../styles/utils/functions";

.lab {
  margin-top: rem(50);

  &-container {
    margin: rem(50);
    border: 7px solid $primary-color;
    padding: rem(20);
  }
}
