// ./CardBackStack.module.scss

@import "../../../../../styles/utils/functions";

.stack {
  position: relative;
  width: rem(100);
  height: rem(140);

  &Card {
    position: absolute;
    width: rem(100);
    height: rem(140);
    border-radius: rem(6);
    box-shadow: 0 0 rem(4) rgba(0, 0, 0, 0.3);
  }
}
