@import "./functions";

$primary-color: #3498db;
$secondary-color: #a18268;
$background-light: #f8f9fa;
$text-color: #2c3e50;
$text-light: #f8f9fa;

$font-size-base: 16;
$font-size-small: 14;
$font-size-large: 20;
$font-size-xl: 24;

$font-family-primary: "Ubuntu", sans-serif;
$font-family-secondary: "Neucha", sans-serif;

// Анимации
$transition-duration: 0.3s;
$transition-timing-function: ease;
