@import "../../../../styles/utils/functions";

$primary-color: #1976d2;
$secondary-color: #f5f5f5;
$danger-color: #d32f2f;
$text-color: #333333;
$text-muted: #777777;

$background-color: #fffdf5;
$note-bg-color: #ffffff;
$note-border-color: rgba(0, 0, 0, 0.05);
$note-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
