@use "../../../styles/utils/functions";
@import "../../../styles/utils/mixins";
@import "../../../styles/utils/variables";

.tasks {
  @include flex-column;
  margin: rem(16) rem(16) rem(48);
  gap: rem(16);
  padding: rem(24);
  background-color: $background-card;
  border-radius: rem(12);
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.05);
  border: 1px solid rgba($text-color, 0.05);

  @media (max-width: $breakpoint-md) {
    padding: rem(20);
    border-radius: rem(10);
  }

  @media (max-width: $breakpoint-sm) {
    padding: rem(16);
    border-radius: rem(8);
    gap: rem(12);
  }
}

.tasksList {
  list-style: none;
  padding: 0;
  margin: rem(16) 0 rem(24);

  li {
    margin-bottom: rem(18);
    font-size: rem(16);
    color: $text-color;

    strong {
      display: inline-block;
      margin-bottom: rem(8);
      font-weight: 600;
    }

    p {
      margin: 0;
      font-size: rem(14);
      color: #6c7a89;
      line-height: 1.4;
    }
  }

  @media (max-width: $breakpoint-sm) {
    li {
      font-size: rem(14);

      p {
        font-size: rem(12);
      }
    }
  }
}

.tasksBtn {
  background-color: $secondary-color;
  color: $text-light;
  padding: rem(6) rem(12);
  border: none;
  border-radius: rem(8);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: $text-color;
    background-color: $primary-color;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: rem(14);
    padding: rem(5) rem(10);
  }
}
