.button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #1f6feb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #1158c7;
  }
}
