@import "../../styles/utils/functions";
@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.nav {
  @include wrapper;
  @include flex-between;
  @include font-size($font-size-base);
  padding: rem(16) rem(8);
  font-weight: 500;

  &__left {
    @include flex-between;
    gap: rem(16);
    flex-shrink: 0;

    &--nav-list {
      display: none;
    }

    @media (max-width: $breakpoint-md) {
      &--nav-list {
        display: block;
      }
      &--nav {
        display: none;
      }
    }

    @media (max-width: $breakpoint-sm) {
      @include flex-column;
      gap: rem(16);
    }
  }

  &__right-nav {
    @include flex-around;
    gap: rem(16);
    flex-shrink: 0;

    @media (max-width: $breakpoint-sm) {
      @include flex-column;
      flex-direction: column-reverse;
      gap: rem(16);
    }
  }
}
