@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
@import "../../styles/utils/functions";

a {
  @include links;
}

.nav {
  @include wrapper;
  @include flex-between;
  @include font-size($font-size-base);
  font-weight: 500;
  padding: rem(16) 0;

  &__left-nav {
    @include flex-between;
    justify-content: start;
    gap: rem(32);

    &--logo {
      @include font-size($font-size-xl);
      font-weight: bold;
      font-family: $font-family-secondary;
      color: $text-color;

      &:hover {
        color: $primary-color;
      }
    }

    &--personal-links {
      display: flex;
      gap: rem(24);
    }
  }

  &__right-nav {
    display: flex;
    gap: rem(32);

    &--contacts {
      display: flex;
      gap: rem(16);

      a {
        @include font-size($font-size-xl);
        color: $primary-color;

        &:hover {
          color: $text-color;
        }
      }
    }
  }
}
